<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="{{ .Site.BaseURL }}">
				{{ .Site.Title }}
			</a>
		</div>

		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				{{ $currentNode := . }}{{ range .Site.Menus.main.ByWeight }}
					<li class="{{if $currentNode.IsMenuCurrent "main" . }}active{{ end }}">
						<a href="{{.URL}}">
							{{ .Pre }}
							{{ .Name }}
						</a>
					</li>
				{{ end }}
				<li>
					<a href="https://github.com/{{ .Site.Params.Github }}">
						<i class="fa fa-github"></i>
						Github
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
